# ==========================================
# 1. Archivos compilados de Maven
# ==========================================
# El asterisco doble (**) hace que ignore la carpeta target 
# de CADA microservicio y enrutador, no solo la raíz.
**/target/
*.class
*.jar
*.war
*.ear
*.nar
*.log

# ==========================================
# 2. Node.js
# ==========================================
**/node_modules/
**/dist/
**/dist-ssr/
**/.vite/

# ==========================================
# 3. Archivos específicos de NetBeans
# ==========================================
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
nb-configuration.xml

# ==========================================
# 4. Otros IDEs (IntelliJ, VSCode)
# ==========================================
.idea/
*.iml
*.iws
*.ipr
.vscode/

# ==========================================
# 5. Archivos del Sistema Operativo
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# 6. Variables de entorno (Seguridad)
# ==========================================
.env
!.env.example

# ==========================================
# 7. Firebase y credenciales
# ==========================================
**/google-services.json
**/serviceAccountKey.json

# ==========================================
# 8. Maven Wrapper
# ==========================================
**/.mvn/wrapper/maven-wrapper.jar

# ==========================================
# 9. Archivos de pruebas de endpoints
# ==========================================
*.http